@font-face{
    font-family: "SF-Fedora";
    src: url("../medias/fonte/sf_fedora/SFFedora.ttf");
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    background-color: rgb(182, 132, 40);
}

section{
    margin: 5% 5%;
}

.overlay{
    position: absolute;
    
}

#aide-ordi{

    width: 1024px;
    height: 576px;
    
}

.invisible{
    display: none;
}

p{
    font-size: 50%;
}

a{
    color: blue;
    text-decoration: underline;
}

img{
    cursor: pointer;
    width: 2.5em;
}

span{
    position: relative;
    left: 10%;
    top: 40%;
}

#flexContainer{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.niveaux{
    position: initial;
    /*margin-left: 10%;*/
}